[submodule "vendor/codeigniter2"]
	path = vendor/codeigniter2
	url = https://gitlab.com/codeigniterpower/codeigniterpower
	branch = codeigniter2
[submodule "vendor/codeigniter3"]
	path = vendor/codeigniter3
	url = https://gitlab.com/codeigniterpower/codeigniterpower
	branch = master
