# ---> CodeIgniter
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

# ---> SVN
.svn/

*.bak

elayayies/*

eltxtfiles/*create/*.csv
!eltxtfiles/*create/example.csv
!eltxtfiles/*create/example.txt
